footer {
        height:6vh;
        @include flex-column;
        justify-content: space-between;

        text-align:center;
        text-transform:uppercase;
        font-size:10px;
        letter-spacing: 2px;

        background-color:$backgroud-color-footer;
        color:$background-color;


        p, .socials {
                @include flex-column;
                flex-grow: 0;
                justify-content: center;

        }

}