footer {
    
         height:8vh;
         padding:15px;

         display:flex;
         flex-direction:column;
         justify-content:center;

         text-align:center;
         text-transform:uppercase;
        letter-spacing: 2px;

         background-color:rgb(230, 230, 230);

}