
.nav {
    display:flex;
    height: 18vh;
    align-items: space-between;
    letter-spacing: 5px;
    overflow-x:hidden;


 .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100px;
    height:100%;    
    padding: 15px;
    opacity:0.7;

    img {
      height: 100%;
      display: block;      
    }
    @include breakpoint(md, max) {
      min-width:120px;
    }
 }

 .burger {
  align-self: center;
  margin: 0 15px;
  display: none;
  cursor: pointer;
  @include breakpoint(lg, max) {
      display: block;
  }
  }

  .nav-links {
    display: flex;
    width: 35%;
    align-items: center;
    justify-content: space-around;
    @include breakpoint(xl,max) {
      width: 50%;
    };

    @include breakpoint(lg, max) {
      position: absolute;
      right:0px;
      height:76vh;
      top:18vh;
      background-color:$background-color-body;
      color: $backgroud-color-footer;



      flex-direction: column;
      align-items: center;
      width:55%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
      padding-right:0px;
      z-index: 10;

    }



  }

  .nav-link {
    @include breakpoint(lg, max) {
      opacity: 0;
      &[navlinkanimation="true"]{
        animation:navLinkFade 1.2s ease forwards 
       }  }
    // opacity: 0;
    // &[navlinkanimation="true"]{
    //   animation:navLinkFade 1.2s ease forwards 
    //  }
  }

  .nav-active {
    transform: translateX(0%);
  }
  
  .active {
    // color:rgb(222,83,113)
    color:#334E4B
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translate(70px);
    }

    to {
      opacity: 1;
      transform: translate(0px);
    }
  }
}