.masonry_tile {
    position:relative;
    margin-bottom:20px;
   // margin: calc(var(--masonryGutter) / 2);
    // width: calc(100% / 2 - var(--masonryGutter));
    
    @media (max-width: 800px) {
        margin-bottom:15px;
    }


        // .tile:nth-child(2),
    // .tile:nth-child(3){
    //     grid-column: span 2;
    // }

    // .tile:nth-child(4),
    // .tile:nth-child(5){
    //     grid-column: span 3;
    // }



}