    .masonry_tile {
        margin:0;
        padding:0;
        max-width: 35vw;
        @include breakpoint (lg, max ){
            max-width:60vw;
        }

    }

    .figure {
        position: relative;
        height:100%;

        img {
            @include image-default    
        };

        .cover {
            @include cover;
            
            .artwork-title {
                @include title-centre ;
            }
            &:hover >.artwork-title {
                opacity: 1;
            }

            .share-icon {
                position:absolute;
                z-index:20;
                height:25px;
                width:25px;
                bottom:15px;
                left:50%;
                transform: translateX(-50%);
                display: flex;
                flex-direction: column;
                color:$link-color-normal;
                transition: 0.15 ease;
                font-size:24px;
                opacity:0;
            
            }

            &:hover > .share-icon {
                opacity: 1;
            }       

        }
        &:hover > .cover {
            opacity:1
        }
       
    }
    
