button {
    background-color: $link-color-hovered;
    border: 1px solid #333;
    border-radius: 2px;
    padding:10px 15px;
    margin:10px 0 20px;
    text-transform: uppercase;
    max-width: 200px;
}