    .masonry_tile {
        margin:0;
        padding:0;
        max-width: 35vw;
        @include breakpoint (lg, max ){
            max-width:60vw;
        }
    }
    .figure {
        position: relative;
        height:100%;

        img {
            @include image-default    
        };

        .cover {
            @include cover
        }

        .artwork-title {
            @include title-centre ;
        }
    
        &:hover >  .cover  {
            opacity:1
            }

        &:hover >  .artwork-title  {
            opacity:1
        }

    }
    
