    .masonry_tile {
        margin:0;
        padding:0;
        max-width: 35vw;
        @include breakpoint (lg, max ){
            max-width:60vw;
        }




    }
    .figure {
        position: relative;
        height:100%;

        img {
            @include image-default    
        };

        .cover {
            @include cover
        }

        .artwork-title {
            @include title-centre ;
        }


    
        &:hover >  .cover  {
            opacity:1
            }

        &:hover >  .artwork-title  {
            opacity:1
        }

        .social-icon-trigger {
            z-index:5;
            position:absolute;
            height:15px;
            width:15px;
            // bottom:10px;
            // left:50%;
            // transform: translateX(-50%);
            color:$link-color-normal;
            // // opacity: 0;
            // transition: 0.15 ease;
            // font-size:24px;
        }
        // &:hover >  .social-icon-trigger{
        //     opacity:1

        // }
    }
    
