// @import '../abstracts/variables';
html {
    overflow: hidden;
}

body {
    font-family: 'Open Sans', serif;
    margin:0;
    height:100%;
    color:$font-color;
    overflow-x: hidden;
    box-sizing: border-box;
    overflow: hidden;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    cursor: default;
    color:$secondary-color;
    letter-spacing: 3px;

}

a:active, a:visited {
    color:inherit;
    text-decoration: none
}

li {
    list-style: none;
}

.wrapper {
    // flex-grow:1;
    display: flex;
    flex-direction: column;
    height:82vh;
    //  ${'' /* height:75vh; */}
    //  min-height:76vh;
    //  min-height:calc(100vh - 170px);

     background-color:$quaternary-color;
     overflow: hidden;
     
}
