// @import '../abstracts/variables';


body {
    box-sizing: border-box;
    margin:0;
    padding:0;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100vh;
    text-align: center;


}

// .App {
//     flex: 1 0 auto
// }

.wrapper {
    display: flex;
    flex-direction: column;

    height:76vh;
    
    // background-color:$quaternary-color;
    background-color:$background-color;

    // overflow-y:hidden;
    overflow-y: auto
}


a{
    text-decoration: none;
    text-transform: uppercase;
    cursor: default;
    // color:$secondary-color;
    color:$link-color-normal;
    transition: 0.1s ease;
    letter-spacing: 3px;
}

a:hover {
    color:$link-color-hovered
}
a:active, a:visited {
    color:inherit;
    text-decoration: none
}


li {
    list-style: none;
    color:$link-color-normal;
}

.active-tab {
    // color: $font-color
    // color:
}


