* {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 1em;
    height: 1em;
    // position: absolute;
    // top:0;
    // right:0
};

::-webkit-scrollbar-track {
    background-color:$background-color;
};

::-webkit-scrollbar-thumb {
    background-color: $font-color-main;
    border: 0.35em solid $background-color;
    border-radius: 100vw;
};



textarea::-webkit-scrollbar-track {
    background-color: $background-color-dark;
}


textarea::-webkit-scrollbar-thumb {
    border: 0.35em solid $background-color-dark;
};