@import '../abstracts/variables';

// @font-face {
//     font-family: "Playfair Display";
//     src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Playfair+Display:wght@400;500;700&display=swap');
// }

@font-face {
    font-family: "Playfair Display";
    src: url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap');
}

@font-face {
    font-family: "Open Sans";
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap')
}

h1,h2,h3,h4,h5 {
    color: $secondary-color
}

.main-page-title-big {
 color:  rgba($fifth-color, 0.5);
 font-size:250px;
 font-family: 'Playfair Display', serif;
    margin-bottom:0px;
  color:  rgba($primary-color, 0.14);
//  text-transform: uppercase;

}

.main-page-title-medium {
    font-size:$medium-title-size;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 30px;
    font-size:55px;
    font-weight: 500;
    color:  rgba($primary-color, 0.14);
    text-transform: uppercase;

}

.logo-title {
    letter-spacing: 1;
    font-family: 'Playfair Display', serif;
}
//h1
.big-title {
    font-size:$big-title-size;
    color:$font-color;
    margin-bottom:40px;
    font-family: 'Playfair Display', serif;
    
    // @media (max-width: 800px) {
    //     // font-size:calc(0.8 * $big-title-size);
    //     margin-bottom:30px;
    // }
}

//h2
.medium-title {
    font-size:$medium-title-size;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    margin: 20px 0 50px;

    // @media (max-width: 800px) {
    //     // font-size:calc(0.8 * $medium-title-size);
    //     margin-bottom:25px;
    // }
}

//h3
.small-title {
    font-size:$small-title-size;
    font-family: 'Playfair Display', serif;
    margin-bottom:20px;
    font-weight: 700;
    text-transform: uppercase;
    
}
@media screen and (max-width: 1800px) {
    .main-page-title-big {
        font-size:180px;
    };
    .main-page-title-medium {
        font-size:50px;
    }
    .medium-title {
        margin: 20px 0 55px;

    }
}

@media screen and (max-width: 1400px) {
    .main-page-title-big {
        font-size:160px;
    }
    .main-page-title-medium {
        font-size:45px;
    }
    .medium-title {
        margin-bottom:45px;
    }
}

@media screen and (max-width: 1000px) {
    .main-page-title-big {
        font-size:120px;
        color:  rgba($quaternary-color, 0.15);

    }
    .main-page-title-medium {
        font-size:30px;
        color:  rgba($quaternary-color, 0.2);
    }

    .big-title {
        margin-bottom:30px; 
    }

    .medium-title {
        margin-bottom:25px;
    }

    .small-title {
    // font-size:calc($small-title-size * 0.8);
    margin-bottom:15px;
    }

}