// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// $breakpoints: (
//   'small': 320px,
//   'medium': 768px,
//   'large': 1024px,
// ) !default;

//bg-img

// $assetPath: '~src/assets/images/';
$assetPath: '../../assets';
$bg-img-url: '#{$assetPath}/background/directory-bcg-img.jpg';


//colors

$primary-color: rgb(44, 44, 44);
$secondary-color: rgb(90, 90, 90);
$tertiary-color: rgb(126, 126, 126);
$quaternary-color:rgb(248, 248, 248);
$fifth-color:rgb(207, 215, 217);

$background-color:rgb(240, 240, 240);
$logo-font-color: rgba($primary-color, 0.6);

// $main-title-color: rgba($fifth-color, 0.5);
// $main-subtitle-color:rgba($fifth-color,0.5);
// $link-color: rgb(44, 44, 44);


$font-color: rgb(54, 54, 54);

// $main-title-color: rgba(44, 44, 44, 0.237);

$logo-font-color: rgb(69, 69, 69);

//fonts
// $font-family-sans-serif:
// $font-family-sans-serif:

//typogrphy size

$big-title-size: 52px;
$medium-title-size: 40px;
$small-title-size:30px;

@media (max-width: 800px) {
    $big-title-size: 48px;
    $medium-title-size: 35px;
    $small-title-size:28px;
}
// $paragraph-size:


$padding-top-pages: 50px;

