.about-page {
  @include page-basic-setup;
}

.author-description {
    display:flex;
    width: 75vw;
    justify-content: center;

    @include breakpoint(xl,max) {
      justify-content: flex-start;
      flex-direction:column;
      align-items: center;
      width:100%;
      // height: 100%;
    }

    @include breakpoint(md, max) {
      padding: 0 15px;
      margin:0;
      justify-content: center;
      justify-items: center;
    }

      &-text {
        height: 100%;
        width: 23%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        font-size: 18px;
        text-align: left;

        .link-in-text {
          margin: 0 0 0 5px;
          text-transform: lowercase;
          
        }
        p {
            margin-bottom:40px;
        }

        p:last-child {
          margin-bottom: 0;
        }

   
        @include breakpoint(xxl,max) {
          // width: 40%;
          font-size: 16px;
          height: auto;

          width: 60%;

        }
        @include breakpoint(xl,max) {
          text-align: center;
          justify-content: flex-start;
          flex-grow:0;

          p:last-child {
            margin-bottom: 30px;

          }
        }
        @include breakpoint(md,max) {
          font-size: 18px;
          width:80%;

          p {
            margin-bottom: 30px;
      
          }
          p:last-child {
            margin-bottom: 40px;
          }
        }

      }
        
      &-pictures {
            width: 55%;
            display: flex;
            justify-content: center;
            flex-direction: row;


            // @include breakpoint (xxl,max) {
            //   width:50%
            // }
            @include breakpoint(xl,min) {
              @include breakpoint(xxl, max) {
                width:50%
              }
             }
            @include breakpoint(md,max) {
              width:100%;
              flex-direction: column;
              align-content: center;
            }


            .picture {
                width: 45%;
                overflow: hidden;
                padding:0 5px;

                @include breakpoint(md,max)  {
                  width: 80%;
                  margin: 0 auto;
                  padding:10px;
                 }


                img {        
                    height: 100%;
                    width:100%;
                    object-fit: cover;
                    object-position: 50% 100%;
                    filter: brightness(.5);
                    transition: filter 0.3s ease;
                    &:hover {
                     filter: brightness(1);
                    }
                 }
            }    
      }  
}
