.about-page {
  @include page-basic-setup;
  // background-color: $quaternary-color;
  // background-color: rgb(190,186,179);
// background-color: #F8F8F7;
// background-color: $fifth-color;
// background-color: rgb(190, 186, 179);
background-color:$background-color;

}

.author-description {

    display:flex;
    justify-content: center;
    width: 75vw;
    // margin:20px  70px 70px 50px;


      &-text {
        height: 100%;
        width: 23%;

        display: flex;
        justify-content: space-around;
        flex-direction: column;

        font-size: 24px;
        text-align: right;

        p {
            margin-bottom:40px
          
        }

        p:last-child {
          margin-bottom: 0;
        }

        }
        
        
        &-pictures {
            // height: 100%;
            width: 55%;
            display: flex;
            justify-content: center;
            flex-direction: row;


            .picture {
                width: 45%;
                overflow: hidden;
                padding:0 5px;
                
                img {        
                  height: 100%;
                    width:100%;
                    object-fit: cover;
                    object-position: 50% 100%;
                    filter: brightness(.5);
                    transition: filter 0.3s ease;
                    &:hover {
                     filter: brightness(1);
                    }
                      
                 }
              }
              
        }  


    // }
    
}
@media screen and (max-width: 2200px)  {
  .author-description-text {
    width: 40%;
    font-size: 20px;
    height: auto;

  }

}

@media screen and (max-width: 1600px)  {
  .author-description-text {
    width: 40%;
    text-align: center;
    justify-content: flex-start;
    flex-grow:0;

  }

}
@media screen and (max-width: 1300px) {
  .author-description {
    font-size: 22px;
    justify-content: flex-start;

    flex-direction:column;
    align-items: center;
    width:100%;
    height: 100%;
    padding: 0 25px;
    text-align: center;

  }

  .author-description-text {
    width:80%;
    font-size: 16px;
    justify-content: flex-start;

    p {
      margin-bottom: 30px;

    }
    p:last-child {
      margin-bottom: 40px;
    }
  }



}


@media screen and (max-width: 900px) {
  .author-description {
        padding: 0 15px;
        margin:0;
    justify-content: center;
    justify-items: center;

    &-text {
      font-size: 18px;
  
    }
    &-pictures {
      width:100%;
      flex-direction: column;
      align-content: center;

      
.picture {
  width: 80%;
  overflow: hidden;
  margin: 0 auto;
  padding:10px;

}
    }
  }

}





