.artwork-page {
    @include page-basic-setup; 
}

.artwork-container {
    @include flex-column;
    align-items: center
}

.artwork-image {
    max-width: 25vw;
    margin-top: 25px;

    @include breakpoint(xxl,max) {
        max-width:35vw;
        margin-top: 20px;
    }
    @include breakpoint(xl,max) {
        max-width:55vw;
        margin-top: 15px;
    }

    @include breakpoint(lg,max) {
        max-width:65vw;
    }
    @include breakpoint(md,max) {
        max-width:85vw;
    }

    img {
        width:100%;
        display: block;
    }
}

.artwork-description {
    padding: 20px 0 40px;
    width:47vw;

  > * {
      padding-bottom: 20px
  }

  @include breakpoint(xxl,max) {
    width:55vw;
    }

    @include breakpoint(xl,max) {
        width:65vw;
    }

    @include breakpoint(lg,max) {
        width:75vw;
    }
    @include breakpoint(md,max) {
        max-width:85vw;
    }

    p {

        @include breakpoint(lg,max) {
            font-size:22px ;
        }

        @include breakpoint(md, max) {
            font-size: 20px;
        }

    }
}
