
.gallery-container {
    
    padding: 20px 0;
    display:flex;
    flex-grow: 1;
    margin:20px  auto 0;
    height:100%;
    align-items: center;
    flex-wrap:wrap;
    justify-content:center;
    align-content: center;

    // @media (max-width: 800px) {
    //     flex-direction: column;
    // }
} 