
@import '../abstracts/variables';


.home-page {
    display: flex;
    flex-direction: column;
    align-items: start;
    height:100%;
    padding:60px 100px;
    flex-grow:1;
    background-image: linear-gradient(130deg, rgba(255, 255, 255, 0.034) 50%, rgba(255, 255, 255, 0) 30%, rgba(251, 251, 251, 0.103) 20%), 
    // url(${Background}); 
    url('../../assets/background/directory-bcg-img.jpg');
    // --bg-img;
    background-position: center;
    background-size: cover;
    filter: brightness(.9);
    transition: filter 0.4s ease;
    &:hover {
        filter: brightness(1);
    }
  position: relative;

}
.logo-title {
position: absolute;
left:15%;
    display: flex;
    flex-direction:column;
    justify-content:center;
    width: 35%;
    opacity:0.1
 }


@media screen and (max-width: 1200px) {
    .home-page{
        filter: brightness(1);
    }
}
@media screen and (max-width: 800px) {
    .home-page{
        padding:30px 50px;
    }
}